* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  min-height: 79.8vh;
}

/* Colors */
:root {
  --dark-red: #990000;
}

.red-box {
  width: 32px;
  height: 8px;
  background-color: var(--dark-red);
}

/* Place Holders */

.home-hero {
  width: 159px;
  height: 159px;
  background-color: var(--dark-red);
}

.goal-icon {
  width: 116px;
  height: 116px;
  background-color: var(--dark-red);
  margin-bottom: 16px;
  margin-top: 50px;
}
